version: '3.8'
services:
  db:
    image: postgres:latest
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: userpass
      POSTGRES_DB: app

  redis:
    image: redis:latest
    ports:
      - 6379:6379
