# DB
POSTGRES_HOST=db
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=app
POSTGRES_PORT=5432
POSTGRES_DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Openai
OPENAI_API_KEY=...
GPT_MODEL=gpt-4-turbo-2024-04-09

# Langchain
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=...
LANGCHAIN_PROJECT=fridon-ai


BIRDEYE_API_KEY=...

LITERAL_API_KEY=...

API_URL=http://localhost:3000

ENV=prod

DATA_PROVIDER=binance
S3_BUCKET_NAME=fridon-ai-coin-data


QUICKNODE_URL=...